@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-panel: #0c0c0c; 
  --color-accent: #b794f4; /* Lila Pastel / Lavanda */
  --color-accent-dark: #9f7aea;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: #a3a3a3;
    @apply antialiased;
  }

  html {
    scroll-behavior: smooth;
  }
}